.transition, #faqqs li i:before, #faqqs li i:after, p , div{
    transition: all 0.20s ease-in-out;
  }
  
  .flipIn, #faqqs li, h1 {
    animation: flipdown 0.5s ease both;
  }
  
  .no-select, h2 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  

  @media (max-width: 550px) {
    body {
      box-sizing: border-box;
      transform: translate(0, 0);
      max-width: 100%;
      min-height: 100%;
      margin: 0;
      left: 0;
    }
  }
  

  p {
    color: rgba(48, 69, 92, 0.8);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
  }
  
  #faqqs {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  #faqqs li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
  }
  #faqqs li:nth-of-type(1) {
    animation-delay: 0.5s;
  }
  #faqqs li:nth-of-type(2) {
    animation-delay: 0.75s;
  }
  #faqqs li:nth-of-type(3) {
    animation-delay: 1s;
  }
  #faqqs li:last-of-type {
    padding-bottom: 0;
  }
  #faqqs li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
  }
  #faqqs li i:before, #faqqs li i:after {
    content: "";
    position: absolute;
    background-color: #002A44;
    width: 3px;
    height: 9px;
  }
  #faqqs li i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  #faqqs li i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  #faqqs li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  #faqqs li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  #faqqs li input[type=checkbox]:checked ~ img {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  #faqqs li input[type=checkbox]:checked ~ div {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  
  #faqqs li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  #faqqs li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  
  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }

  .setupImg{
    width: 65%;
    height: 250px;
    padding-left: 20px;
  }

  .faqDiv{
    display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin: auto;
  }


  