* {
  box-sizing: border-box;
}

body {
  /*Removing touch highlights on smartphones*/

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding-top: 0;
  font-family: "Rubik", sans-serif;
}
.main-wrapper {

  margin: 0 auto;
}
.swiper-container > .swiper-wrapper{
  transition-timing-function : linear;
}
.swiper-button-next-46{
  width:32px;

}
.swiper-button-prev-46{
  width:32px;
  margin-right: 5px;

}
/*-------------------------------------------------------
-------------------------------------------------------
-------------------------------------------------------*/
/* SLIDE LAYOUT
/*-------------------------------------------------------
-------------------------------------------------------
-------------------------------------------------------*/
.sl-wrapper {
  position: relative;
}
.sl-nav {
  position: relative;
  width: 100px;
  height: 60px;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url();
}
.swiper-button-next,
.swiper-button-prev {
  width: 35px;
}

/*-------------------------------------------------------*/
/* Card Bkg Img
/*-------------------------------------------------------*/

.sl-bkg-img,
.sl-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.sl-img-1 {
  background-image: url("https://s3.us-east-2.amazonaws.com/snapboothphotos.com/Images/Photo+Strips/3rdThursday.jpg");
  background-size:auto;
}
.sl-img-2 {
  background-image: url("https://s3.us-east-2.amazonaws.com/snapboothphotos.com/Images/Photo+Strips/Photo+Strip.png");
}
.sl-img-3 {
  background-image: url("https://s3.us-east-2.amazonaws.com/snapboothphotos.com/Images/Photo+Strips/4-pics-3rdThursday.png");
}
.sl-img-7 {
  background-image: url("https://s3.us-east-2.amazonaws.com/snapboothphotos.com/Images/SmithPhotoStrip.png");
}

.sl-img-4 {
  background-image: url("https://s3.us-east-2.amazonaws.com/snapboothphotos.com/Images/Photo+Strips/4x6/1+pic+center+layout+4X6.png");
}
.sl-img-5 {
  background-image: url("https://s3.us-east-2.amazonaws.com/snapboothphotos.com/Images/Photo+Strips/4x6/1+pic+layout+4X6.png");
}
.sl-img-6 {
  background-image: url("https://s3.us-east-2.amazonaws.com/snapboothphotos.com/Images/Photo+Strips/4x6/3-1+4+pic+layout+4X6.png");
}

.sl-gradient {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/614007/gradient.png");
  z-index: 1;
}
/*-------------------------------------------------------*/
/* Card Content
/*-------------------------------------------------------*/

.sl--content-container {
  position: absolute;
  background-color: #ffffff;
}
.sl--content-container h2 {
  text-transform: uppercase;
}
.sl--sub-text {
  font-weight: 300;
}
.content-reveal-btn {
  background-color: #04b7ac;
}
.sl--show-card-info,
.sl--close-card-info {
  fill: #ffffff;
}
.sl--show-card-info {
  transform: scale(0.6, 0.6);
  -webkit-transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sl--close-card-info {
  -ms-transform: rotate(45deg) scale(0.6, 0.6);
  -webkit-transform: rotate(45deg) scale(0.6, 0.6);
  transform: rotate(45deg) scale(0.6, 0.6);
  -webkit-transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
/*--------------------------

     Media Queries 

--------------------------*/
/*    Mobile    */

@media only screen and (min-width: 320px) {
  /* 320px */

  #gallery-4x6{
    padding: 0;
  }
  #gallery-2x6{
    padding: 0;
  }
  .text-background-4x6{
    margin-top: 0;
    padding-top: 0;
  }

  .sl-wrapper{
    overflow: visible;
    width: 100vw;
  }
  /*-------------------------------------------------------*/
  /* SL Header: 320
	/*-------------------------------------------------------*/
  .sl-header-wrapper {
    padding: 0 18px;
  }
  .sl-header-wrapper h3 {
    font-size: 50px;
    font-weight: 900;
    line-height: 80%;
    letter-spacing: -1.4px;
    margin: 10px 0;
  }
  .sl-header-wrapper h4 {
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    line-height: 100%;
    letter-spacing: -1.4px;
    word-spacing: 2.4px;
  }
  .sl-header-wrapper p {
    font-weight: 300;
  }

  /*-------------------------------------------------------*/
  /* Prev/Next Slide Cover: 320
	/*-------------------------------------------------------*/
  .sl-nav {
    display: none;
  }
  .swiper-slide-prev .slide-cover,
  .swiper-slide-next .slide-cover,
  .slide-cover {

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0.75;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    visibility: visible;
  }
  .swiper-slide-active .slide-cover {
    position: absolute;
    opacity: 0;
    -webkit-transition: visibility 0s 0.5s, opacity 300ms;
    transition: visibility 0s 0.5s, opacity 300ms;
    height: 100%;
    width: 100%;

    z-index: 2;
    visibility: hidden;
  }

  /*-------------------------------------------------------*/
  /* Swiper: 320
	/*-------------------------------------------------------*/

  .swiper-4x6{
    width: 98%;
  }

  /*   VERY IMPORTANT. CHANGES PHOTO STRIP WIDTH AND CONTENTS ON SMALL SCREENS  */
  .swiper-container {
    width: 55%;
    height: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  /*-------------------------------------------------------*/
  /* Card: 320
	/*-------------------------------------------------------*/

  .sl-card-wrapper {
    position: relative;
    height: 540px;
    overflow: hidden;
  }
  /*-------------------------------------------------------*/
  /* Card Bkg Img: 320
	/*-------------------------------------------------------*/

  .sl-gradient {
    background-position: center 210px;
  }
  .sl-bkg-img {
    background-size: cover;
    background-position: center top;
  }
  /*-------------------------------------------------------*/
  /* Card Content: 320
	/*-------------------------------------------------------*/

  .sl--content-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transition: width 250ms, height 250ms;
    transition: width 250ms, height 250ms;
    overflow: hidden;
  }
  .sl--content-wrapper-inactive {
    width: 101%;
    height: 541px;
  }
  .sl--content-wrapper-active {
    width: 101%;
    height: 100%;
  }
  .sl--content-container {
    width: 100%;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 1;
  }
  .sl--card-hide {
    transform: translate(0, 410px);
    -webkit-transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
      width 250ms;
    transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
      width 250ms;
    height: 568px;
  }
  .sl--card-reveal {
    transform: translate(0, 0);
    -webkit-transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
      width 250ms;
    transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
      width 250ms;
    height: 100%;
    width: 100%;
    overflow: auto;
    /*padding: 100px 0px;*/
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .sl--content-container h2 {
    font-size: 30px;
    word-spacing: 2px;
    letter-spacing: -1.4px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .sl--sub-text {
    margin-bottom: 0;
    -webkit-transition: margin 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: margin 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .sl--card-reveal .sl--sub-text {
    margin-top: 12%;
  }
  .sl--content-container .sl--card-content {
    font-weight: 300;
    margin-top: 15px;
    overflow-y: auto;
  }
  .sl--link {
    color: #04b7ac;
    margin-bottom: 15px;
  }
  .sl--card-nav-container {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 1;
    bottom: 0;
    /*background-color: #ffffff;*/
    background-image: linear-gradient(0deg, #f5f5f5, hsla(37, 87%, 97%, 0));
  }
  .sl--content-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 37px;
    height: 37px;
    cursor: pointer;
    z-index: 1;
  }
  .content-hide-btn {
    transform: scale(0, 0);
  }
}
@media only screen and (min-width: 375px) {
  /* 375 */
  /*-------------------------------------------------------*/
  /* Card Bkg Img: 375
	/*-------------------------------------------------------*/


  .sl-gradient {
    background-position: center 300px;
  }

  /*-------------------------------------------------------*/
  /* Card Content: 375
	/*-------------------------------------------------------*/

  .sl-card-wrapper,
  .sl--content-wrapper-inactive {
    height: 600px;
  }
  .sl--content-wrapper-inactive {
    width: 91%;
  }
  .sl--content-container {
    height: 372px;
  }
  .sl--card-reveal {
    height: 100%;
    width: 100%;
  }
  .sl--card-hide {
    transform: translate(0, 465px);
    height: 667px;
  }
  /*@-moz-document url-prefix() {
		.sl--card-hide {
			color: red;
			transform: translate(0, 265px);
			border: red 5px solid;
		}
		
	}*/
}
@media only screen and (min-width: 414px) {
  /* 414 */


  .sl-wrapper{
    width: 95vw;
  }



  /*-------------------------------------------------------*/
  /* SL Header: 414
	/*-------------------------------------------------------*/
  .sl-header-wrapper h3 {
    font-size: 55px;
  }

  /*-------------------------------------------------------*/
  /* Card Content: 414
	/*-------------------------------------------------------*/
  .sl-card-wrapper,
  .sl--content-wrapper-inactive {
    height: 650px;
  }
  .sl--card-hide {
    height: 740px;
    transform: translate(0, 495px);
  }
}
@media only screen and (min-width: 490px) {
  /* 490 */
  .sl-wrapper{
    width: 85vw;
  }
}
@media only screen and (min-width: 528px) {
  /* 568 */
  .sl-wrapper{
    width: 80vw;
  }
}
@media only screen and (min-width: 607px) {
  /* 667px */
  .sl-wrapper{
    width: 75vw;
  }
}
@media only screen and (min-width: 736px) {
  /* 736px */
}
/**********************************    Tablet    ***************************************/

@media only screen and (min-width: 768px) {
  /* 768 */
  /*-------------------------------------------------------*/
  /* SL Main Container: 768
	/*-------------------------------------------------------*/


  .sl-main-container {
    width: 768px;
    margin: 0 auto;
  }

  /*-------------------------------------------------------*/
  /* SL Header: 768
	/*-------------------------------------------------------*/
  .sl-header-wrapper {
    padding: 0 5%;
  }
  .sl-header-wrapper h3 {
    width: 100%;
    font-size: 65px;
  }
  .sl-header-wrapper p {
    width: 40vw;
  }

  /*-------------------------------------------------------*/
  /* Swiper: 768
	/*-------------------------------------------------------*/
  .swiper-container {
    width: 65%;
  }

  /*-------------------------------------------------------*/
  /* Card Content: 768
	/*-------------------------------------------------------*/

  /* .    cChanged This to make them smaller */
  .sl-card-wrapper {
    width: 185px;
    height: 540px;
  }
  .sl--content-wrapper-inactive {
    width: 290px;
    height: 100%;
  }
  .sl--content-wrapper-active {
    width: 101%;
  }
  .sl--card-hide {
    transform: translate(0, 375px);
  }
  .sl-gradient {
    background-position: center 185px;
  }
}




/**********************************    Desktop    ***************************************/

@media only screen and (min-width: 1024px) {

  #gallery-4x6{
    padding: 25px;
  }
  #gallery-2x6{
    padding: 25px;
  }
  /* 1024 */
  .swiper-4x6{
    margin-left: 0;
    width:47%;
  }

  /*-------------------------------------------------------*/
  /* Main Wrapper: 1024
	/*-------------------------------------------------------*/






  .sl-wrapper {
    width: 70vw;

  
  }
  /*-------------------------------------------------------*/
  /* SL Main Container: 1024
	/*-------------------------------------------------------*/
  .sl-main-container {
    width: 1024px;
  }

  /*-------------------------------------------------------*/
  /* SL Header: 1024
	/*-------------------------------------------------------*/
  .sl-header-wrapper {
    padding: 50px 2% 0 5%;
    width: 500px;
    display: inline-block;
    float: left;
  }

  .sl-header-wrapper p {
    width: 100%;
  }


  /*-------------------------------------------------------*/
  /* Swiper: 1024
	/*-------------------------------------------------------*/
  .sl-wrapper {
    height: 540px;
    overflow: visible;
    display: inline-block;
  }

  .swiper-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-80%, -50%);
    width: 70%;
    height: 540px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }


  /*-------------------------------------------------------*/
  /* Prev/Next Slide Cover: 1024
	/*-------------------------------------------------------*/
  .sl-nav {
    display: block;
  }

}
@media only screen and (min-width: 1140px) {
  /* 1140 */
  .sl-wrapper{
    width: 50vw;
  }
}
@media only screen and (min-width: 1240px) {
  /* 1240 */
  .sl-wrapper{
    width: 40vw;
  }

}
@media only screen and (min-width: 1320px) {
  /* 1240 */
  .sl-wrapper{
    width: 35vw;
  }

}
@media only screen and (min-width: 1440px) {
  /* 1440 */

  .sl-wrapper{
    width: 100vw;
  }
  .sl-main-container {
    width: 1640px;
   
  }
  

}
@media only screen and (min-width: 1662px) {
  /* 1662px */
  .sl-main-container {
    width: 2040px;
   
  }
}








/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*------------  |  |  ----\---/------    |==|  --------------------------------------------------*/
/*------------  |==|  -----\-/-------    |   ----------------------------------------------------*/
/*-------------    |  ------X---------   |==|   -------------------------------------------------*/
/*--------------   |  -----/-\-------    |==|     -----------------------------------------------*/
/*---------------- -------/---\------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/


html {
    scroll-behavior: smooth;
  }
  h1{
    size: 5em;
  }
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    height: 300px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  



  #modal-image{

    width: 45%;
  }