

 .large-paragraph{
    font-size: 1.3em;
 }
 .x-large-paragraph{
  font-size: 1.4em;
  line-height: 1.3;
}




.text-background{
  background-color: rgba(255, 255, 255, 0.849);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  z-index: 2;
  margin-top: 60px;
  padding: 25px;
  margin-left: 2vw;


}

.text-background{
  background-color: rgba(255, 255, 255, 0.849);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  z-index: 2;
  margin-top: 60px;
  padding: 25px;
  margin-left: 2vw;
}





  @media screen and (max-width: 1000px) {
    body .heading {
      margin: 9rem 3rem;
      font-size: 6rem;
    }
  }

